Repository lab-antwerp-1/agile-group-1, pull requests merged in 2021-10, with the labels that each got.

#1 test push
  .cspell.json
  index.html
  pages/about.html
  styles/index.css
  styles/something.css
  styles/style.css
Labels: test

#11 Created backlog.md
  planning/backlog.md
Labels: documentation

#15 Dev
  package-lock.json
  planning/development-strategy.md
Labels: documentation

#46 Home Intro.
  assets/euphorigenic.ttf
  assets/homebody.PNG
  index.html
  planning/development-strategy.md
  styles/style.css
Labels: css, html

#56 change links
  styles/style.css
Labels: bug, css

#57 changed link
  styles/style.css
Labels: bug, css
